<%- include('../../partials/header.ejs') %> 

    <div>
        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
                                        href="/auth/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png">  Login With Google</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %> 

    </body>
</html>