<%- include('../../partials/header.ejs') %> 

    <div>
        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <h5>Admin Page <%= department_name %> </h5>
                    
                   
                    <div class="mb-2 mt-3">
                        <button type="button" class="btn btn-primary">
                            <a href="/admin/add-course" class="text-white">Add Course</a>
                        </button>
                    </div>
                    <div class="mb-2">
                        <button type="button" class="btn btn-primary">
                            <a href="" class="text-white">Create Exam Comitte</a>
                        </button>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %> 

    </body>
</html>